.main {
    width: 75%;
    height: 100%;
	font-size: 300%;
	position: absolute;
    background-image: url("shop.gif");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

.cart {
    width: 25%;
	height: 100%;
	position: absolute;
    background-color: royalblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 250%;
	margin-left: 75%;
	overflow: auto;
    background-image: url("cartback.jpg");
    background-repeat: repeat-y;
    background-size: contain;
}

#search {
    height: 5%;
    width: 55%;
    margin-top: 4%;
    border-radius: 10%;
}

#searchproduct{
    height: 5%;
    width: 10%;
    background-color: transparent;
    border-color: blue;
    color: darkblue;
    font-weight: bold;
    border-radius: 10%;
    outline: none;
    box-shadow: 0 10% #999;
}

.image {
    margin-left: 12%;
    margin-top: 5%;
}

.logo {
    margin-left: 5%;
    margin-top: 2%;
}

.reset {
    outline: none;
	margin-top: 7%;
	width: 25%;
    margin-left: 15%;
	-moz-box-shadow: 3px 3px 43px 0px #899599;
	-webkit-box-shadow: 3px 3px 43px 0px #899599;
	box-shadow: 3px 3px 43px 0px #899599;
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:50%;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:50%;
	padding:1% 5%;
	text-decoration:none;
	text-shadow:0px 0px 0px #e1e2ed;
	margin-bottom: 100px;
}
.reset:hover {
	background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
	background-color:#bab1ba;
}
.reset:active {
	position:relative;
	top:5%;
}

.add {
    outline: none;
    margin-top: 7%;
	margin-left: 20%;
	width: 25%;
	-moz-box-shadow: 3px 3px 43px 0px #899599;
	-webkit-box-shadow: 3px 3px 43px 0px #899599;
	box-shadow: 3px 3px 43px 0px #899599;
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:50%;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:50%;
	padding:1% 5%;
	text-decoration:none;
	text-shadow:0px 0px 0px #e1e2ed;
	margin-bottom: 100px;
}
.add:hover {
	background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
	background-color:#bab1ba;
}
.add:active {
	position:relative;
	top:5%;
}

.check {
	margin-top: 50%;
	height: 8%;
	width: 40%;
	border-radius: 50%;
	color: steelblue;
	background-color: lightgrey;;
	-moz-box-shadow: 3px 3px 43px 0px #899599;
	-webkit-box-shadow: 3px 3px 43px 0px #899599;
	box-shadow: 3px 3px 43px 0px #899599;
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	outline: none;    
	margin-bottom: 100px;

}

.carttext{
    font-size: 100%;
    color: darkblue;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: 20%;
	padding: 10px;

}

table{
	color: darkblue;
	font-size: 20px;
}

tr{
    background-color: lightgreen;
    width: 150px;
}

tr:nth-child(even){
    background-color: lightskyblue;
}

th{
    cursor: pointer;
    background-color:lightseagreen;
    width: 150px;
}

td{
	text-align: center;
}